.awards-section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 125px;
    padding-right: 10px;
    padding-left: 10px;
}

.awards-container {
    max-width: 1440px;
    margin-top: 77px;
}

.awards-image-container {
    max-width: 343px;
    margin: 0 auto;
    margin-bottom: 91px;
}

.awards-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 884px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto; 
    line-height: 35px; 
}

/* MOBILE DESIGN */

@media only screen and (max-width:450px) {
    .awards-section {
        margin-bottom: 50px;
    }

    .awards-container {
        margin-top: 45px;
    }

    .awards-image-container {
        width: 300px;
        margin-bottom: 50px;
    }

    .awards-image {
        width: 300px;
    }

    .awards-content {
        font-size: 14px;
    }
}

/* BIGGER THAN MOBILE */

@media screen and (max-width: 699px) and (min-width: 451px) {
    .awards-section {
        margin-bottom: 60px;
    }

    .awards-container {
        margin-top: 60px;
    }

    .awards-image-container {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 950px) and (min-width: 700px) {
    .awards-section {
        margin-bottom: 80px;
    }

    .awards-container {
        margin-top: 60px;
    }

    .awards-image-container {
        margin-bottom: 60px;
    }
}