*{
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 94px;
    color: black;
    text-align: center;
    /* max-width: 900px; */
    /* width: 100%; */
    margin: 0 auto;
    margin-top: 75px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;     
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: #8499B1;
    text-transform: uppercase
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #8499B1;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 5px;
}

a {
    text-decoration: none;
}

/* a:visited {
    color: inherit;
} */


/* TOP BANNER */

.top-banner {
    display: flex;
    justify-content: space-between;
    height: 132px;
    top: 0;
    padding-top: 30px;
    padding-left: 64px;
    padding-right: 40px;
    color: white;  
    background-color: #0C1821;  
}

.banner a {
    font-family: 'Cormorant', serif;
    font-size: 59px;
    width: 700px;
    text-decoration: none;
    color: white;
}

.banner:visited {
    color: inherit;
}

/* .dropdown-header 


.dropdown-icon 



.dropdown-image {
    display: none;
} */

.nav {
    height: 76px;
    background-color: #A5C4D4;
}

.nav-buttons {
    float: right;
    list-style: none;  
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;  
    margin-right: 44px;
    height: 76px;
}

.nav-buttons li {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600; 
    height: 76px;   
}

.nav-buttons li:hover {
    border-bottom: 4px solid #0C1821;
}

.about-button {
    padding: 25px 45px 27px;
}

.about-button-text {
    text-decoration: none;
    color: #0C1821; 
}

.about-button:hover {
    border-bottom: 4px solid #0C1821;
}

.awards-button {
    padding: 25px 45px 27px;
}

.awards-button-text {
    text-decoration: none;
    color: #0C1821;
}

.gallery-button {
    padding: 25px 45px 27px;
}

.gallery-button-text {
    text-decoration: none;
    color: #0C1821;
}

.family-button {
    padding: 25px 45px 27px 45px;
    margin-right: -20px;
}

.family-button-text {
    text-decoration: none;
    color: #0C1821;
}

/* FOOTER */

.footer-section {
    height: 71px;
    background-color: #0C1821;
    bottom: 0; 
}

.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding: 25px 10px 0px 10px;
}


/* HOME PAGE */

.top-header {
    width: 100%;
}

.home-about-container {
    max-width: 1087px;
    height: 950px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 83px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-about-content {
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    margin: 0 auto;
    padding-top: 70px;  
}

.home-image-container {
    padding-right: 15px;
}

.about-title {
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 59px;
    font-weight: 600;
}

.home-words {
    margin-bottom: 40px;
    line-height: 35px;
}

.read-more-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2A41;
    color: white;
    text-decoration: none;
    padding: 18px 30px;   
}

.home-works-section {
    height: 870px;
    background-color: #EBF0F2;   
}

.home-works-container {
    height: 660px;
}

.recent-works-title {
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 59px;
    font-weight: 600;
    text-align: center;
    padding-top: 84px;
    margin-bottom: 68px;
}



.view-gallery-button-container {
    max-width: 184px;
    margin: 0 auto;
}

.view-gallery-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2A41;
    color: white;
    text-decoration: none;
    padding: 18px 30px;
}



/* homepage carousel */

.home__carousel {
    overflow: hidden;
    max-width: 700px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 70px;
    height: 400px;
}


.home__carousel__item {
    margin: 0 auto;
    width: 500px;
}

.home__carousel .home__carousel__item,
.home__carousel .home__carousel__item--hidden {
    display: none;
}

.home__carousel .home__carousel__item img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.home__carousel .home__carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.home__carousel .home__carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home__carousel .home__carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ccd6e2;
}


/* AWARDS PAGE */

.awards-section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 125px;
    padding-right: 10px;
    padding-left: 10px;
}

.awards-container {
    max-width: 1440px;
    margin-top: 77px;
}

.awards-image-container {
    max-width: 343px;
    margin: 0 auto;
    margin-bottom: 91px;
}

.awards-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 884px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto; 
    line-height: 35px; 
}

/* GALLERY PAGE */

/* Content section */

.gallery-page-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.gallery-container {
    margin-top: 77px;
}

.gallery-image-container {
    max-width: 343px;
    margin: 0 auto;
    margin-bottom: 91px;
}

.gallery-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 894px;
    margin: 0 auto; 
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 35px;
}

/* carousel */

.carousel {
    overflow: hidden;
    /* max-width: 600px; */
    max-width: 80%;
    height: 730px;
    position: relative;
    margin: 0 auto;
}

.carousel__track-container {
    height: 100%;
    max-width: 100%;
}

.carousel__item {
    margin: 0 auto;
    max-width: 430px;
    height: 580px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
    height: 580px;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* .carousel .carousel__actions button#carousel_button--prev {
    margin-left: 20px;
}

.carousel .carousel__actions button#carousel_button--next {
    margin-right: 20px;
} */

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}

/* .art-2__container {
    height: 600px;
    
} */

.art-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    /* width: 420px; */
}

.caption-5 {
    margin-top: 0px;
}

.caption-6 {
    margin-top: 0px;
}

/* .caption-25 {
    margin-top: 0px;
} */

.life-drawing {
    height: 580px;
}

.bishop-painting {
    height: 580;
}


/* ABOUT PAGE */

.about-section {
    max-width: 864px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

}

.about-page-title {
    /* width: 864px; */
    width: 100%;
}

.about-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px; 
    margin-top: 77px;
    margin-bottom: 120px;
}



/* FAMILY PAGE */

.family-page-container {
    height: 1640px;
    max-width: 1350px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.family-row1-container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.bern-mu-photo {
    width: 300px;
}

.bern-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 320px;
}

.family-row2-section {
    margin: 0 auto;
    max-width: 805px;
    margin-top: 30px;
}

.family-row2-container {
    display: flex;
    justify-content: space-between;
    max-width: 805px;
    margin-right: 10px;  
}

.row2-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 165px;
    margin-bottom: 0px;
} 

.tree-steve {
    border: 2px solid #30D5C8;
    padding: 18px 18px;
}

.steve-caption {
    color: #30D5C8;
}

.tree-julie {
    border: 2px solid #0D3470;
    padding: 18px 18px;
}

.julie-caption {
    color: #0D3470;
}

.tree-glyn {
    border: 2px solid #0974ED;
    padding: 18px 18px;
}

.glyn-caption {
    color: #0974ED;
}

.row2-photo {
    width: 220px;
}

.family-row3-container {
    display: flex;
    justify-content: space-between;   
}  

.steve-kids {
    display: flex;
    justify-content: space-between; 
}

.julie-kids {
    display: flex;
    justify-content: space-between;
}

.glyn-kids {
    display: flex;
    justify-content: space-between;
}


.tree-ant {
    padding: 10px 10px;
    margin-right: 3px;
    border: 2px solid #30D5C8;
}

.tree-mark {
    padding: 10px 10px;
    margin-right: 3px;
    border: 2px solid #30D5C8;
}

.tree-jamie {
    padding: 10px 10px;
    margin-right: 7px;
    border: 2px solid #30D5C8;
}

.tree-emily {
    padding: 10px 10px;
    margin-right: 3px;
    margin-left: 7px;
    border: 2px solid #0D3470;
}

.tree-dan {
    padding: 10px 10px;
    margin-right: 7px;
    margin-left: 3px;
    border: 2px solid #0D3470;
}

.tree-ro {
    padding: 10px 10px;
    margin-right: 3px;
    margin-left: 7px;
    border: 2px solid #0974ED;
}

.tree-hal {
    padding: 10px 10px;
    margin-left: 3px;
    border: 2px solid #0974ED;
}

.row3-photo {
    width: 150px;
}

.row3-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.ant-caption {
    width: 150px;
    color: #30D5C8;
}

.mark-caption {
    width: 130px;
    color: #30D5C8;
}

.jamie-caption {
    width: 120px;
    color: #30D5C8;
}

.emily-caption {
    width: 150px;
    color: #1B2A41;
}

.dan-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    color: #1B2A41;
}

.ro-caption {
    width: 140px;
    color: #2273cf;
}

.hal-caption {
    width: 140px;
    color: #2273cf;
}

.family-row4-section {
    display: flex;
    justify-content:flex-start; 
    max-width: 400px;
}

.ant-kids-container {
    margin-right: 97px;
    color: #5f7083;
}

.mark-kids-container {
    color: #8098b4;
}

.row4-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 95px;
}

.row4-caption-parent {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #30D5C8;
}








/* MEDIUM LAPTOP VIEW */

@media screen and (max-width: 950px) and (min-width: 700px) {

    h1 {
        font-size: 70px;
    }

    /* FOOTER */

    .footer {
        font-size: 12px;
    }

    /* HOME */

    .top-banner {
        padding-left: 40px;
        padding-top: 25px;
        height: 100px;
    }

    .banner a {
        font-size: 40px;
    }

    .nav {
        height: 65px;
    }

    .nav-buttons {
        height: 65px;
    }

    .nav-buttons li {
        height: 55px;
        font-size: 13px;
        padding: 25px 27px 16px;
    }

    .home-about-section {
        height: 800px;
    }

    .home-about-container {
        padding-right: 10px;
        padding-top: 50px;
    }

    .home-about-content {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 43px;
    }

    .home-image {
        max-width: 340px;
    }

    /* AWARDS */

    .awards-section {
        margin-bottom: 80px;
    }

    .awards-title {
        /* font-size: 70px; */
    }

    .awards-container {
        margin-top: 60px;
    }

    .awards-image-container {
        margin-bottom: 60px;
    }

    /* ABOUT */

    .about-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-content {
        margin-top: 60px;
        margin-bottom: 95px;
    }

    /* GALLERY */

    .gallery-page-container {
        margin-bottom: 60px;
    }

    .gallery-container {
        margin-top: 60px;
    }

    .gallery-image-container {
        margin-bottom: 70px;
    }

    .gallery-content {
        margin-bottom: 40px;
    }

    .carousel .carousel__actions {
        top: 40%;
    }
}


/* SMALL LAPTOP VIEW */

@media screen and (max-width: 699px) and (min-width: 451px) {


    h1 {
        font-size: 46px;
        margin-top: 60px;
    }

    /* FOOTER */

    .footer {
        font-size: 11px;
    }

    /* HOME PAGE  */

    .top-banner {
        
        padding-left: 35px;
        padding-top: 20px;
        height: 80px;
    }

    .banner a {
        font-size: 30px;
    } 

    .home-works-section {
        height: 770px;
    }

    .home-about-section {
        height: 1090px;
    }

    .home-about-container {
        padding-right: 10px;
        padding-top: 50px;
        display: initial;
        
        /* float: right; */
        /* flex-direction: row-reverse; */
        /* flex-direction: column-reverse; */
    }

    .home-image-container {
        margin: 0 auto;
        width: 310px;
        padding-right: 0px;
    }

    .home-about-content {
        padding-right: 15px;
        padding-left: 15px;
    }

    .about-title {
        text-align: center;
        font-size: 45px;
    }

    .home-words {
        font-size: 17px;
        margin-bottom: 53px;
    }

    .read-more-button-container {
        text-align: center;
    }

    .home-image {
        max-width: 310px;
    }

    .home__carousel {
        height: 300px;
    }

    .home__carousel .home__carousel__item {
        width: 330px;
    }

    .home__carousel .home__carousel__item img {
        max-width: 330px;
    }

    .home__carousel .home__carousel__actions {
        top: 43%;
    }


    /* AWARDS */

    .awards-section {
        margin-bottom: 60px;
    }

    .awards-title {
        /* font-size: 70px; */
        /* margin-top: 60px; */
    }

    .awards-container {
        margin-top: 60px;
    }

    .awards-image-container {
        margin-bottom: 50px;
    }

    /* ABOUT */

    .about-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-page-title {
        margin-top: 60px;
    }

    .about-content {
        margin-top: 50px;
        margin-bottom: 75px;
    }

    /* GALLERY */

    .gallery-page-container {
        margin-bottom: 60px;
    }

    .gallery-container {
        margin-top: 60px;
    }

    .gallery-image-container {
        margin-bottom: 60px;
    }

    .gallery-image-container {
        width: 345px;
    }

    .gallery-main-image {
        width: 345px;
    }

    .gallery-content {
        margin-bottom: 40px;
    }

    .carousel {
        height: 788px;
    }

    .carousel .carousel__item {
        width: 260px;
    }

    .carousel .carousel__item img {
        max-width: 260px;
    }

    .carousel .carousel__actions {
        top: 37%;
    }
}



/* MOBILE DESIGN */

@media only screen and (max-width:450px) {

    /* NAV BAR */

    .top-banner {
        height: 70px;
    }

    .nav {
        height: 50px;
    }

    .top-banner {
        padding-left: 20px;
        padding-top: 20px;
    }

    .banner a {
        font-size: 24px;
        font-family: 'Cormorant', serif;
    }

    .nav-buttons {
        height: 50px;
    }

    .nav-buttons li {
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        height: 50px;
    }


    /* FOOTER */

    .footer {
        font-size: 11px;
    }


    /* HOME PAGE */

    h1 {
        font-size: 40px;
        width: inherit;
        margin-top: 40px;
    }

    h3 {
        font-size: 16px;
    }

    .home-about-section {
        height: 850px;
    }

    .home-about-container {
        width: 100px;
        display: initial;
    }

    .home-about-content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }

    .home-image-container {
        width: 270px;
        margin: 0 auto;
        padding-right: 0px;
    }

    .home-image {
        width: 270px;
    }

    .about-title {
        font-size: 40px;
        text-align: center;
    }

    .home-words {
        font-size: 14px;
    }

    .read-more-button-container {
        text-align: center;
    }

    .home-works-section {
        height: 670px;
    }

    .recent-works-title {
        font-size: 40px;
    }

    .home__carousel {
        max-width: 95%;
        height: 250px;
        /* height: inherit; */
    }

    .home__carousel .home__carousel__item {
        width: 250px
    }

    .home__carousel .home__carousel__item img {
        object-fit: contain;
        width: 250px
    }

    .home__carousel .home__carousel__actions {
        top: 40%;
    }


    /* AWARDS */

    .awards-section {
        margin-bottom: 50px;
    }

    .awards-container {
        margin-top: 45px;
    }

    .awards-image-container {
        width: 300px;
        margin-bottom: 50px;
    }

    .awards-image {
        width: 300px;
    }

    .awards-content {
        font-size: 14px;
    }


    /* ABOUT */

    .about-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-content {
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 14px;
    }


    /* GALLERY */

    .gallery-container {
        margin-top: 45px;
    }

    .gallery-image-container {
        margin-bottom: 50px;
        width: 315px;
    }

    .gallery-main-image {
        width: 315px;
    }

    .gallery-content {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .carousel {
        height: 834px;
    }

    .carousel .carousel__item {
        width: 210px;
    }

    .carousel .carousel__item img {
        max-width: 260px;
    }

    .carousel .carousel__actions {
        top: 37%;
    }

    .caption-25 {
        margin-top: 0px;
    }


    /* FAMILY */

    .family-row1-container, .bern-mu-photo, .bern-caption {
        width: 270px;
    }

    .bern-caption {
        font-size: 14px;
    }

    .tree-steve, .tree-julie, .tree-glyn {
        padding: 10px;
        max-width: 105px;
    }

    .tree-julie {
        margin-left: 10px;
        margin-right: 10px;
    }


    .row2-photo {
        width: 80px;
    }

    .row2-caption {
        width: 80px;
        font-size: 11px;
    }

    
    .tree-ant, .tree-mark, .tree-jamie, .tree-emily, .tree-dan, .tree-ro, .tree-hal {
        padding: 10px;
        max-width: 103px;
        margin-right: 0px;
    }

    .tree-ant, .tree-mark, .tree-jamie {
        margin-bottom: 10px;
    }

    .tree-dan {
        margin-top: 10px;
        margin-left: 6px;
    }

    .tree-hal {
        margin-top: 10px;
        margin-left: 7px;
    }

    .steve-kids {
        display: initial; 
    }
    
    .julie-kids {
        display: initial;
        
    }
    
    .glyn-kids {
        display: initial;
    }

    .row3-photo {
        width: 80px;
        margin-right: 0px;
    }  
    
    .row3-caption, .ant-caption, .dan-caption {
        width: 80px;
        font-size: 10px;
    }

    .ant-kids-container {
        margin-right: 65px;
    }

    .row4-caption-parent {
        font-size: 13px;
    }

    .row4-caption {
        font-size: 11px;
        width: 79px;
    }    
}






/* FAMILY PAGE VIEW */ 

/* x large */

@media screen and (max-width: 1290px) and (min-width: 999px) {

    .family-page-container {
        height: 2200px;
    }

    .family-row3-section {
        max-width: 780px;
        margin: 0 auto; 
    }

    .tree-ant, .tree-mark, .tree-jamie, .tree-emily, .tree-dan, .tree-ro, .tree-hal {
        padding: 15px;
        max-width: 193px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .tree-dan {
        margin-left: 7px;
    }

    .tree-hal {
        margin-left: 7px;
    }

    .row3-photo {
        width: 160px;
    }


    .steve-kids {
        display: initial; 
    }
    
    .julie-kids {
        display: initial;  
    }
    
    .glyn-kids {
        display: initial;
    }

    .family-row4-section {
        margin-left: 120px;
    }
}

/* large */

@media screen and (max-width: 998px) and (min-width: 700px) {

    .family-page-container {
        height: 2100px;
    }

    .family-row2-container {
        margin-right: 0px;
    }

    .tree-steve, .tree-julie, .tree-glyn {
        max-width: 210px;
    }

    .row2-photo {
        width: 170px;
    }

    .family-row3-section {
        max-width: 780px;
        margin: 0 auto; 
        padding-left: 10px;
        padding-right: 10px;
    }

    .tree-ant, .tree-mark, .tree-jamie, .tree-emily, .tree-dan, .tree-ro, .tree-hal {
        padding: 15px;
        max-width: 180px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .tree-dan {
        margin-left: 7px;
    }

    .tree-hal {
        margin-left: 7px;
    }

    .row3-photo {
        width: 150px;
    }


    .steve-kids {
        display: initial; 
    }
    
    .julie-kids {
        display: initial;  
    }
    
    .glyn-kids {
        display: initial;
    }

    .family-row4-section {
        margin-left: 70px;
    }

}

/* medium */

@media screen and (max-width: 699px) and (min-width: 550px) {

    .family-page-container {
        height: 1840px;
    }

    .family-row1-container {
        width: 270px;
    }

    .bern-caption {
        font-size: 14px;
    }

    .bern-mu-photo {
        width: 270px;
    }

    .family-row2-container {
        margin-right: 0px;
    }

    .tree-steve, .tree-julie, .tree-glyn {
        max-width: 164px;
    }

    .row2-photo {
        width: 125px;
    }

    .row2-caption {
        font-size: 12px;
        width: 110px;
    }

    .family-row3-section {
        max-width: 780px;
        margin: 0 auto; 
        padding-left: 10px;
        padding-right: 10px;
    }

    .tree-ant, .tree-mark, .tree-jamie, .tree-emily, .tree-dan, .tree-ro, .tree-hal {
        padding: 15px;
        max-width: 150px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .tree-dan {
        margin-left: 7px;
    }

    .tree-hal {
        margin-left: 7px;
    }

    .row3-photo {
        width: 120px;
    }

    .row3-caption {
        font-size: 12px;
        width: 120px;
    }

    .mark-caption, .jamie-caption {
        width: 105px;
    }

    .steve-kids {
        display: initial; 
    }
    
    .julie-kids {
        display: initial;  
    }
    
    .glyn-kids {
        display: initial;
    }

    .family-row4-section {
        margin-left: 20px;
    }

    .ant-kids-container {
        margin-right: 70px;
    }

    .row4-caption-parent, .row4-caption {
        font-size: 12px;
        width: 80px;
    }
}

/* small */

@media screen and (max-width: 549px) and (min-width: 451px) {

    .family-page-container {
        height: 1650px;
    }

    .family-row1-container {
        width: 270px;
    }

    .bern-caption {
        font-size: 14px;
    }

    .bern-mu-photo {
        width: 270px;
    }

    .family-row2-container {
        margin-right: 0px;
    }

    .tree-steve, .tree-julie, .tree-glyn {
        max-width: 134px;
    }

    .row2-photo {
        width: 100px;
    }

    .row2-caption {
        font-size: 12px;
        width: 110px;
    }

    .family-row3-section {
        max-width: 780px;
        margin: 0 auto; 
        padding-left: 10px;
        padding-right: 10px;
    }

    .tree-ant, .tree-mark, .tree-jamie, .tree-emily, .tree-dan, .tree-ro, .tree-hal {
        padding: 10px;
        max-width: 115px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .tree-dan {
        margin-left: 7px;
    }

    .tree-hal {
        margin-left: 7px;
    }

    .row3-photo {
        width: 90px;
    }

    .row3-caption {
        font-size: 10px;
        width: 98px;
    }

    .mark-caption, .jamie-caption {
        width: 85px;
    }

    .steve-kids {
        display: initial; 
    }
    
    .julie-kids {
        display: initial;  
    }
    
    .glyn-kids {
        display: initial;
    }

    .family-row4-section {
        margin-left: 20px;
    }

    .ant-kids-container {
        margin-right: 45px;
    }

    .row4-caption-parent, .row4-caption {
        font-size: 11px;
        width: 78px;
    }
}





/* NAV BAR RESIZE */

@media only screen and (min-width:951px) {

    .dropdown-image {
        display: none;
    }

    .dropdown-buttons {
        display: none;
    }    
}


@media screen and (max-width: 950px) and (min-width: 700px) {

    .dropdown-header {
        width: 60px;
    }
    
    .dropdown-icon {
        
    }
    
    .dropdown-image {
        width: 60px; 
        margin-bottom: 20px;  
    }

    .top-banner {
        /* overflow: hidden; */
    }

    .nav {
        display: none;
    }

    .nav-buttons {
        display: initial;
        height: 300px;
        position: relative;
        z-index: 3;
    }

    .dropdown-buttons {
        list-style: none;
        display: none;
        position: absolute;
        margin-top: 3px;
        margin-left: -140px;
        width: 200px;
        height: 300px;
        padding-left: 10px;
        padding-top: 130px;
        background-color: #8499B1;
    }

    .dropdown-header:hover ul {
        display: block;
    }

    .dropdown-buttons li {
        height: 2.5rem;    
    }

    .dropdown-buttons li a:hover {
        color: black;
    }

    .dropdown-buttons li a {
        font-size: 14px;
        padding: 10px 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
}

@media screen and (max-width: 699px) and (min-width: 451px) {

    .dropdown-header {
        width: 45px;
        position: relative;
    }
    
    .dropdown-icon {
    
    }
    
    .dropdown-image {
        width: 45px;
       
    }

    .nav {
        display: none;
    }

    .nav-buttons {
        /* display: initial;
        height: 300px;
        position: relative;
        z-index: 3; */
        display: none;
    }

    .dropdown-buttons {
        list-style: none;
        display: none;
        position: absolute;
        margin-top: 20px;
        margin-left: -140px;
        width: 200px;
        height: 300px;
        padding-left: 10px;
        padding-top: 130px;
        background-color: #8499B1;
    }

    .dropdown-header:hover ul {
        display: block;
    }

    .dropdown-buttons li {
        height: 2.5rem;    
    }

    .dropdown-buttons li a:hover {
        color: black;
    }

    .dropdown-buttons li a {
        font-size: 14px;
        padding: 10px 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
}


@media only screen and (max-width:450px) {

    .dropdown-header {
        width: 40px;
    }

    .dropdown-header:hover ul {
        display: block;
    }
    
    .dropdown-icon {
    
    }
    
    .dropdown-image {
        width: 40px; 
    }

    .nav {
        display: none;
    }

    .nav-buttons {
        display: initial;
        height: 300px;
        position: relative;
        z-index: 3;
    }

    .dropdown-buttons {
        list-style: none;
        display: none;
        position: absolute;
        margin-top: 14px;
        margin-left: -120px;
        width: 200px;
        height: 320px;
        padding-left: 10px;
        padding-top: 150px;
        background-color: #8499B1;
    }

    .dropdown-buttons:active ul {
        display: block;
    }

    .dropdown-buttons li {
        height: 2.5rem;    
    }

    .dropdown-buttons li a:hover {
        color: black;
    }

    .dropdown-buttons li a {
        font-size: 14px;
        padding: 10px 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

}
