*{
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 94px;
    color: black;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    margin-top: 75px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;     
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: #8499B1;
    text-transform: uppercase
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #8499B1;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 5px;
}

/* TOP BANNER */

.top-banner {
    height: 132px;
    top: 0;
    padding-top: 30px;
    padding-left: 64px;
    color: white;  
    background-color: #0C1821;  
}

.banner {
    font-family: 'Cormorant', serif;
    font-size: 59px;
}

.nav {
    height: 76px;
    background-color: #A5C4D4;
}

.nav-buttons {
    float: right;
    list-style: none;  
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;  
    margin-right: 44px;
    height: 76px;
}

.nav-buttons li {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600; 
    height: 76px;   
}

.nav-buttons li:hover {
    border-bottom: 4px solid #0C1821;
}

.about-button {
    padding: 25px 45px 27px;
}

.about-button-text {
    text-decoration: none;
    color: #0C1821; 
}

.about-button:hover {
    border-bottom: 4px solid #0C1821;
}

.awards-button {
    padding: 25px 45px 27px;
}

.awards-button-text {
    text-decoration: none;
    color: #0C1821;
}

.gallery-button {
    padding: 25px 45px 27px;
}

.gallery-button-text {
    text-decoration: none;
    color: #0C1821;
}

.family-button {
    padding: 25px 20px 27px 45px;
}

.family-button-text {
    text-decoration: none;
    color: #0C1821;
}

/* FOOTER */

.footer-section {
    height: 71px;
    background-color: #0C1821;
    bottom: 0; 
}

.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
}


/* HOME PAGE */

.home-about-container {
    max-width: 1087px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 83px;
}

.home-about-content {
    font-family: 'Montserrat', sans-serif;
    width: 380px;
    margin: 0 auto;
    padding-top: 70px;  
}

.about-title {
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 59px;
    font-weight: 600;
}

.home-words {
    margin-bottom: 40px;
    line-height: 35px;
}

.read-more-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2A41;
    color: white;
    text-decoration: none;
    padding: 18px 30px;   
}

.home-works-section {
    height: 916px;
    background-color: #EBF0F2;
    
}

.recent-works-title {
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 59px;
    font-weight: 600;
    text-align: center;
    padding-top: 84px;
    margin-bottom: 68px;
}

.works-image-container {
    max-width: 631px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.view-gallery-button-container {
    max-width: 184px;
    margin: 0 auto;
}

.view-gallery-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2A41;
    color: white;
    text-decoration: none;
    padding: 18px 30px;
}


/* AWARDS PAGE */

.awards-section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 125px;
}

.awards-container {
    max-width: 1440px;
    margin-top: 77px;
}

.awards-image-container {
    max-width: 343px;
    margin: 0 auto;
    margin-bottom: 91px;
}

.awards-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 864px;
    margin: 0 auto; 
    line-height: 35px; 
}



/* ABOUT PAGE */

.about-section {
    max-width: 864px;
    margin: 0 auto;
}

.about-page-title {
    width: 864px;
}

.about-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px; 
    margin-top: 77px;
    margin-bottom: 120px;
}



/* FAMILY PAGE */

.family-page-container {
    height: 1600px;
    max-width: 1350px;
    padding-left: 20px;
    margin: 0 auto;
}

.family-row1-container {
    max-width: 300px;
    margin: 0 auto;
}

.bern-mu-photo {
    width: 300px;
}

.bern-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 320px;
}

.family-row2-section {
    margin: 0 auto;
    max-width: 805px;
    margin-top: 30px;
}

.family-row2-container {
    display: flex;
    justify-content: space-between;
    width: 805px;
    margin-right: 10px;  
}

.row2-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 165px;
} 

.row2-photo {
    width: 220px;
}

.family-row3-container {
    display: flex;
    justify-content: space-between;
}    

.row3-photo {
    width: 150px;
}

.row3-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.ant-caption {
    width: 150px;
}

.mark-caption {
    width: 130px;
}

.jamie-caption {
    width: 120px;
}

.emily-caption {
    width: 150px;
}

.dan-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
}

.ro-caption {
    width: 140px;
}

.hal-caption {
    width: 140px;
}

.family-row4-section {
    display: flex;
    justify-content:flex-start; 
    width: 400px;
}

.ant-kids-container {
    margin-right: 97px;
}


.row4-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 95px;
}